body {
  background: grey;
  font-family: 'Work Sans', sans-serif;
}
.content-fish{
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 800px;
}
.content-fish > div {
  margin-left: 100px;
  width: 600px;
  height: 700px;
}
.messege {
  position: absolute;
  display: none;
  top: 10px;
  right: 20px;
  background: #FFFAFA;
  border-radius: 7px;
  width: 440px;
  height: 260px;
  box-shadow: 1px 1px black solid;
}
.button-previous-page > a > img {
  border-radius: 50%;
  background: white;
  width: 25px;
  margin-right: 10px;
}
.button-next-page > a > img {
  border-radius: 50%;
  background: white;
  width: 25px;
  margin-left: 10px;
}
.button-exit > a > img{
  width: 25px;
}
.page-selection{
  width: 9px;
  margin-top: 8px;
  border-radius: 50%;
  background: #DAD8D8;
  margin-right: 5px;
}
.top-content{
  padding: 10px;
  display: flex;
}


.text-messege {
  border: 2px black solid;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.text-messege > p{
  width: 320px;
  margin-top: 2px;
  padding-top: 2px;
}
.text-messege >  h4 {
  margin: 0;
}



.button-exit {
  margin-top: 10px;
  margin-left: 40px;
}
.bottom-content {
  margin-top: 50px;
  display: flex;
}

.status-buttons {
  display: flex;
  margin-left: 30px;
}
.button-disable-tips {
  margin-left: 10px;
  margin-top: 3px;
  width: 200px;
  height: 25px;
  font-size: 14px;
}
.checkbox {
	display: none;
}
.checkbox-custom {
	position: relative;
	width: 15px;
	height: 15px;
	border: 2px solid #ccc;
	border-radius: 3px;
}
.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
	content: "";
	display: block;
	position: absolute;

	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #413548;
	border-radius: 2px;
}
