body {
    margin: 0;
    padding: 0;
    background: #535353;
    /*cursor: url("../images/cursor/lamp.png"), c;*/
    /*z-index: 100;*/
}
.content {
    min-height: calc(100vh - 100px);
}
.wrapper {
    background-image: url("../images/form/fon4.jpg");
    background-size: 100%;
}
/*-------------------------------HEADER---------------------------------------*/
header > div {
    display: flex;
    margin: 0 auto;
}
header {
    margin: 0 auto;
    width: 1600px;
    height: 50px;
    background: black;
    border-radius: 0 0 10px 10px;
}

header > div > article {
    flex-direction: row;
}
header > div > article >  h1{
    font-family: 'Creepster', cursive;
    padding-top: 7px;
    font-size: 30px;
    text-align: center;
    width: 300px;
    margin: 0;
    color: white;
    font-family: 'Creepster', cursive;
    letter-spacing: 4px;
}

header > div> nav > ul > li > a:hover{
    color: #ff5626;
}
header > div> nav > ul > li > a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Creepster', cursive;
    color: white;
}
header > div> nav > ul > li{
    margin-left: 80px;
    list-style-type: none;
}
header > div > nav > ul{
    padding-top: 7px;
    margin-left: 250px;
    display: flex;
    color: white;
}
.header-menu{
    margin-top: 0;
}
/*-------------------------------MAIN---------------------------------------*/
main {
    margin: 0 auto;
    width: 1600px;
}
.field-rule {
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    z-index: 5;
    width: 800px;
    background-image: url("../images/form/wall.jpg");
    /*background: #83391c;*/
    border-radius: 20px 20px;
    padding-bottom: 30px;
    display: block;
}

.field-rule > div {
    border-radius: 20px 20px;

    z-index: 1;
    /*background-image: url("../images/form/blood.png");*/
    background-repeat: no-repeat;
    background-size: 100%;
}
.form-rule > div{
    margin-left: 30px;
    font-family: 'Chicle', cursive;
    font-size:28px;


}
.form-rule > div > p{
    letter-spacing: 1.2px;

}
.form-rule > div > h1{
    padding-top: 20px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 50px;
}
.form-rule > div > h3{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.form-rule > div > div {
    text-align: center;
}
.form-button-login {
    border-radius: 3px;
    font-size: 15px;

    color: #000000;
    text-decoration: none;
    user-select: none;
    background: rgb(255, 248, 246);
    padding: .5em 1.5em;
    outline: none;
    border: 1px solid black;
}
.form-button-login:hover { background: #ff5626;  }
.form-button-login:active { background: rgb(255, 23, 0); }



.form-button-SingIn {
    margin-left: 50px;
    border-radius: 3px;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    user-select: none;
    background: rgb(255, 248, 246);
    padding: .5em 1.5em;
    outline: none;
    border: 1px solid black;
}

.form-button-SingIn:hover { background: #ff5626; }
.form-button-SingIn:active { background: rgb(255, 23, 0); }
/*---------------------------------REGISTRATION---------------------------*/
.field-registration{
    display: none;
    color: white;
    margin: 0 auto;
    margin-top: 150px;
    z-index: 5;
    width: 400px;
    background-image: url("../images/form/wall.jpg");
    /*background: #83391c;*/
    border-radius: 20px 20px;
    padding-bottom: 30px;
    font-family: 'Chicle', cursive;
    text-align: center;
}
.field-registration > form > p > label {
    height: 20px;
    font-family: 'Chicle', cursive;

}
.field-registration > form > h1{
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}
.field-registration > form > p{
    margin-top: 5px;
}
.field-registration > form > p > label > img {
    width: 20px;
}
.field-registration > form > p > label > input {
    position: relative;
    top: -10px;
    height: 25px;
    width: 200px;
    font-family: 'Chicle', cursive;
    margin-left: 10px;
}
.registration-button-registration{
    border-radius: 3px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #000000;
    text-decoration: none;
    user-select: none;
    background: rgb(255, 248, 246);
    padding: .5em 1.5em;
    outline: none;
    border: 1px solid black;
}

.registration-button-registration:hover { background: #ff5626; }
.registration-button-registration:active { background: rgb(255, 23, 0); }
/*---------------------------------LOGIN---------------------------*/
.field-login{
    display: none;
    color: white;
    margin: 0 auto;
    margin-top: 150px;
    z-index: 5;
    width: 400px;
    background-image: url("../images/form/wall.jpg");
    /*background: #83391c;*/
    border-radius: 20px 20px;
    padding-bottom: 30px;
    font-family: 'Chicle', cursive;
    text-align: center;
}
.field-login> form > p > label {
    height: 20px;
    font-family: 'Chicle', cursive;

}
.field-login > form > h1{
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}
.field-login > form > p{
    margin-top: 5px;
}
.field-login> form > p > label > img {
    width: 20px;
}
.field-login> form > p > label > input {
    position: relative;
    top: -10px;
    height: 25px;
    width: 200px;
    font-family: 'Chicle', cursive;
    margin-left: 10px;
}
.registration-button-login {
    border-radius: 3px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #000000;
    text-decoration: none;
    user-select: none;
    background: rgb(255, 248, 246);
    padding: .5em 1.5em;
    outline: none;
    border: 1px solid black;
}

.registration-button-login:hover { background: #ff5626; }
.registration-button-login:active { background: rgb(255, 23, 0); }

/*-------------------------------MAIN-GAME---------------------------------------*/
.field-main-game{
  display: none;
}
.field-main-game {
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 5;
    background-image: url("../images/form/wall.jpg");
    /*background: #83391c;*/
    border-radius: 20px 20px;
    padding-bottom: 30px;
    font-family: 'Chicle', cursive;
}

.field-main-game > article{
  border: 1px red solid;
  display: flex;
}
/*ВЫПАДАЮЩИЕ МЕНЮ*/

.game-first-menu {
  border: 1px red solid;
  width: 150px;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px green solid;
  text-align: center;
}

.game-first-menu > li {
   display: block;
   text-decoration: none;
}

.game-first-menu > li > a {
  display: block;
}
/**/
.game-second-menu {
  position: absolute;
  margin: 0;
  padding: 0;
   list-style-type: none;
  display: none;
}
.game-first-menu > li  {
  display: block;
}

.game-second-menu > li > a{
  display: block;
  padding: 10px;
  text-decoration: none;
}
.game-second-menu > li > a:hover{
  border: 1px red solid;
}
  .game-second-menu > li > a > img {
  width: 50px;
  height: 50px;
  background: red;
}


ul.game-first-menu >       li:hover   >       ul.game-second-menu {
    display: block;
}

/*ВЫПАДАЮЩИЕ МЕНЮ*/


.div-play-game {
  margin-left: 1200px;
}
.field-game-content{
  margin: 0 auto;
  width: 1600px;
  display: flex;
  align-items: center;
  border: 1px red solid;
  margin-top: 70px;
  text-align: center;

}
.game-one {
  display: block;
  width: 1000px;
  margin: 0 auto;
  border: 1px white solid;
}

.game-two {
  width: 1200px;
  display: none;
  margin: 0 auto;
  border: 1px red solid;
}
.game-three {
  width: 1550px;
  display: none;
  margin: 0 auto;
  border: 1px red solid;
}

.img-card-game-one {
  width: 160px;
  height: 200px;
  float: left;
  margin-left: 30px;
  margin-bottom: 10px;
}
.img-card-game-two {
  width: 160px;
  height: 200px;
  float: left;
  margin-left: 30px;
  margin-bottom: 10px;
}
.img-card-game-three {
  width: 160px;
  height: 200px;
  float: left;
  margin-left: 30px;
  margin-bottom: 10px;
}
.game-one-img-one-background{
  width: 100%;
  height: 100%;
  background: red;
}
.game-one-img-two-background{
  width: 100%;
  height: 100%;
  background: yellow;
}
.game-one-img-three-background{
  width: 100%;
  height: 100%;
  background: green;
}
.game-one-img-four-background{
  width: 100%;
  height: 100%;
  background: blue;
}
.game-one-img-five-background{
  width: 100%;
  height: 100%;
  background: black;
}
/*---GAME TWO------------*/
.game-two-img-one-background{
  width: 100%;
  height: 100%;
  background: red;
}
.game-two-img-two-background{
  width: 100%;
  height: 100%;
  background: yellow;
}
.game-two-img-three-background{
  width: 100%;
  height: 100%;
  background: green;
}
.game-two-img-four-background{
  width: 100%;
  height: 100%;
  background: blue;
}
.game-two-img-five-background{
  width: 100%;
  height: 100%;
  background: black;
}
.game-two-img-six-background{
  width: 100%;
  height: 100%;
  background: #c91c67;
}
.game-two-img-seven-background{
  width: 100%;
  height: 100%;
  background: white;
}
.game-two-img-eight-background{
  width: 100%;
  height: 100%;
  background: #3d8c5e;
}
.game-two-img-nine-background{
  width: 100%;
  height: 100%;
  background: #5b5b38;
}
/*-----GAME THREE-------*/
.game-three-img-one-background{
  width: 100%;
  height: 100%;
  background: red;
}
.game-three-img-two-background{
  width: 100%;
  height: 100%;
  background: yellow;
}
.game-three-img-three-background{
  width: 100%;
  height: 100%;
  background: green;
}
.game-three-img-four-background{
  width: 100%;
  height: 100%;
  background: blue;
}
.game-three-img-five-background{
  width: 100%;
  height: 100%;
  background: black;
}
.game-three-img-six-background{
  width: 100%;
  height: 100%;
  background: #c91c67;
}
.game-three-img-seven-background{
  width: 100%;
  height: 100%;
  background: white;
}
.game-three-img-eight-background{
  width: 100%;
  height: 100%;
  background: #3d8c5e;
}
.game-three-img-nine-background{
  width: 100%;
  height: 100%;
  background: #5b5b38;
}
.game-three-img-ten-background{
  width: 100%;
  height: 100%;
  background: #266060;
}
.game-three-img-eleven-background{
  width: 100%;
  height: 100%;
  background: #8600c4;
}
.game-three-img-twelve-background{
  width: 100%;
  height: 100%;
  background: #b55e5e;
}

/*-------------------------------FOOTER---------------------------------------*/

footer {
    text-align: center;
    background: black;
    width: 100%;
    color: white;
    padding-bottom: 15px
}
footer > section > div> nav > ul > li > a:hover{
    color: #ff5626;
}
footer > section > div> nav > ul{
    padding-left: 0;
}
footer > section > div> nav > ul > li > a {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Creepster', cursive;
    color: white;
}
footer > section {
    width: 1600px;
    margin: 0 auto;
    display: flex;
}
footer > section  > div {
    margin-left: 400px;
}
footer > section  > div > label{
    font-family: 'Yatra One', cursive;

    margin: 0;
    padding: 0;
}
footer > section  > div > h1{
    font-family: 'Yatra One', cursive;

    margin: 0;
    padding: 0;
}


.form-button-Dispatch {
    margin-left: 50px;
    border-radius: 3px;
    font-size: 15px;
    margin-bottom: 10px;
    color: #000000;
    text-decoration: none;
    user-select: none;
    background: rgb(255, 248, 246);
    padding: .5em 1.5em;
    outline: none;
    border: 1px solid black;
}

.form-button-Dispatch:hover { background: #ff5626; }
.form-button-Dispatch:active { background: rgb(255, 23, 0); }
footer > section  > div> nav > ul > li{
    list-style-type: none;
}
footer > section  > div > nav > ul{
    color: white;
    margin: 0;
}
.dispatch-to-email {
}
.dispatch-to-email > div > input{
    font-family: 'Yatra One', cursive;
    font-size: 18px;
    width: 200px;
    height: 25px;
}



/*TIMER
.nixcont{margin-left:  auto;
         margin-right: auto;
         width: fit-content;
         overflow: hidden;}

.nixcont{position: absolute;
         top: 50%; left:50%;
         transform: translate(-50%,-50%);}


.nixpair{padding:0px 5px; float:left; height:100px;pointer-events:none;}

.nixbg{
font-family: 'Josefin Sans', sans-serif;
font-size:70px;

box-sizing:border-box;
position:relative;height:80px;line-height:80px; width:50px; float:left;
border-radius: 20px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;

padding-top:8px; margin:0px 5px;

box-shadow:
inset 0px 1px 3px 2px rgba(90,  0,   0, 0.9),
inset 0px 2px 2px 3px rgba(230, 220, 0, 1),
inset 0px 4px 4px 3px rgba(255, 0,   0, 0.9);


background-image:url("http://i.cubeupload.com/yLl7mj.png"),
                 -webkit-linear-gradient(top, rgba(35, 20, 40,  0.7),
                                              rgba(35, 20, 40,  0.5),
                                              rgba(35, 20, 110, 0.7));

background-image:url("http://i.cubeupload.com/yLl7mj.png"),
                    -moz-linear-gradient(top, rgba(35, 20, 40,  0.7),
                                              rgba(35, 20, 40,  0.5),
                                              rgba(35, 20, 110, 0.7));

background-image:url("http://i.cubeupload.com/yLl7mj.png"),
                     -ms-linear-gradient(top, rgba(35, 20, 40,  0.7),
                                              rgba(35, 20, 40,  0.5),
                                              rgba(35, 20, 110, 0.7));

background-image:url("http://i.cubeupload.com/yLl7mj.png"),
                      -o-linear-gradient(top, rgba(35, 20, 40,  0.7),
                                              rgba(35, 20, 40,  0.5),
                                              rgba(35, 20, 110, 0.7));

background-image:url("http://i.cubeupload.com/yLl7mj.png"),
                         linear-gradient(top, rgba(35, 20, 40,  0.7),
                                              rgba(35, 20, 40,  0.5),
                                              rgba(35, 20, 110, 0.7));

background-repeat:repeat, no-repeat;
background-size:12px, 100%;
}

.nixbg:after{
content:'';
display:block;
position:absolute;top:100%; left:0; width:100%; height:20%; background-color:gray;
border-bottom-left-radius:35%;
border-bottom-right-radius:35%;

background-image:-webkit-radial-gradient(  40% 100% , #ea4 0%, #f93 15%, #caa 50%, #778 75%, #345 100%   );
background-image:   -moz-radial-gradient(  40% 100% , #ea4 0%, #f93 15%, #caa 50%, #778 75%, #345 100%   );
background-image:    -ms-radial-gradient(  40% 100% , #ea4 0%, #f93 15%, #caa 50%, #778 75%, #345 100%   );
background-image:     -o-radial-gradient(  40% 100% , #ea4 0%, #f93 15%, #caa 50%, #778 75%, #345 100%   );
background-image:        radial-gradient(  40% 100% , #ea4 0%, #f93 15%, #caa 50%, #778 75%, #345 100%   );
}

.nixbg .nix{
width:100%; text-align:center; position:absolute;
color:rgba(60, 40, 20, 1  );
pointer-events:none;
transition:color 0.5s, text-shadow 0.5s;
transition-timing-function:ease-out;

}

.nixbg .nix_open{
transition:color 0.2s, text-shadow 0.2s;
transition-timing-function:ease-out;

color: transparent;
text-shadow:
0   0   1px  rgba(254, 252, 124, 1    ),
0   0   3px  rgba(255, 217, 54,  0.7  ),
0   0   5px  rgba(255, 0,   0,   1    ),
0   0   14px rgba(255, 0,   0,   1    ),
0   0   17px rgba(255, 0,   0,   1    ),
0   0   20px rgba(255, 0,   0,   1    ),
0   5px 25px rgba(0,   0,   255, 0.9  );

font-weight:300;
z-index:10;
}
*/

/*
/* весь контейнер поддерживает перспективу */
.flip-container {
 perspective: 1000;
}
 /* переверните сторону при проведении мышью */
 .flip-container:active .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
 }

.flip-container, .front, .back {
 width: 160px;
 height: 180px;
}

/* здесь находится скорость перевертывания */
.flipper {
 transition: 0.8s;
 transform-style: preserve-3d;

 position: relative;
}

/* скройте обратную сторону во время переворота */
.front, .back {
 backface-visibility: hidden;

 position: absolute;
 top: 0;
 left: 0;
}

/* лицевая сторона размещена над обратной */
.front {
  background-image: url("../images/рубашка/1.gif");
 z-index: 2;
}
.back > div{
  background-image: url("../images/рубашка/2.jpg");
}
/* обратная, изначально скрытая сторона */
.back {
  /* background: blue; */
 transform: rotateY(180deg);
}

/* .flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
 transform: rotateY(180deg);
} */
.vertical.flip-container {
 position: relative;
}

 .vertical .back {
  transform: rotateX(180deg);
 }

 .vertical.flip-container .flipper {
  transform-origin: 100% 213.5px; /* половина высоты */
 }

 .vertical.flip-container:hover .flipper {
  transform: rotateX(-180deg);
 }
