article {
  display: flex;
}
.img-card {
  border: 1px blue solid;
  width: 200px;
  height: 200px;
}


.img-card:nth-child(1),  .img-card:nth-child(1){
  background: red;
  width: 200px;
  height: 200px;
}


/* .img-card {
  width: 200px;
  height: 200px;
  background: red;
}
.two {
  width: 200px;
  height: 200px;
  background: blue;
}
.three {
  width: 200px;
  height: 200px;
  background: yellow;
} */
